body {
  background-color: #ccdad1;
}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(113, 143, 62);
}

.headerRow {
  background-color: black;
  margin-bottom: 10px;
}
